<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html">

<div layout:fragment="siteContent">
    <div class="col-8 mx-auto">
        <div th:switch="${requestBody.handled}">
            <h5 class="text-center" th:case="false" style="color: red">*** Новая необработанная зявка ***</h5>
            <h5 class="text-center" th:case="true" style="color: green">Обработанная зявка</h5>
        </div>
        <form method="post" th:action="@{/process-request}" th:if="${requestBody != null}">
            <input type="hidden" name="id" th:value="${requestBody.id}">
            <div class="mb-3">
                <label for="fullName" class="form-label">ФИО:</label>
                <input type="text" class="form-control" id="fullName" placeholder="ФИО:" th:name="username"
                       th:value="${requestBody.username}">
            </div>
            <div class="mb-3">
                <label for="course" class="form-label">Курс:</label>
                <select id="course" class="form-select" th:name="courseName" th:value="${requestBody.courseName}">
                    <option>Java Standard Edition</option>
                    <option>Web Technologies</option>
                    <option>Python Programming Language</option>
                    <option>Java Pro</option>
                    <option>UX/UI Design</option>
                    <option>Django Framework</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Телефон: </label>
                <input type="text" class="form-control" id="phone" placeholder="+7(7__)_______" th:name="phone"
                       th:value="${requestBody.phone}">
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Комментарии:</label>
                <textarea class="form-control" id="comment" rows="6" placeholder="Комментарии"
                          th:name="comment" th:text="${requestBody.comment}"></textarea>
            </div>
            <div></div>
            <div th:switch="${requestBody.handled}">
                <button th:case="false" type="submit" class="btn btn-success">Обработать заявку</button>

                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    Удалить
                    заявку
                </button>
            </div>
        </form>
        <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" th:if="${requestBody!=null}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form th:action="@{'/delete-request'}" method="post">
                        <input type="hidden" name="id" th:value="${requestBody.id}">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Подтвердите удаление</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3 class="text-center">Вы уверены?</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                            <button class="btn btn-danger">Да</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>